.container-fluid {
  width: 100%;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.m-0 {
  margin: 0;
}

.mt-auto {
  margin-top: auto;
}