
/* STYLES FOR LANDING PAGE */

.landing-container {
    text-align: center;
    padding: 100px 20px;
}

.register-btn, .login-btn {
    padding: 12px 25px;
    margin: 10px;
    background-color: #3B82F6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.register-btn:hover, .login-btn:hover {
    background-color: #2563EB;
}

h1 span {
    color: #3B82F6;
}

/* STYLES FOR REGISTER PAGE */