{% extends "base.html" %}


{% block title %}About Us{% endblock %}


{% block content %}
<section class="about-us-container">
   <div class="intro">
       <span class="section-label">Team</span>
       <p>
           Meet the passionate students and aspiring developers who believe that lesson planning should be easier,
           faster, and more organized. We built Planify to support teachers in creating meaningful learning experiences for students.
       </p>
   </div>


   <section class="team-member">
       <img src="{{ url_for('static', filename='pictures/mark.png') }}" alt="Mark Maglaway" class="member-photo" />
       <div class="member-info">
           <h3 class="member-name">Mark Maglaway</h3>
           <p class="member-role">Back-end Developer</p>
           <hr />
           <blockquote class="member-quote">“Execution beats Excellence when Excellence never Executes.”</blockquote>
           <div class="social-icons">
               <a href="https://web.facebook.com/mark.maglaway.3" target="_blank" rel="noopener noreferrer">
                   <img src="{{ url_for('static', filename='pictures/facebook.png') }}" alt="Facebook" />
               </a>
               <a href="https://github.com/nemzki" target="_blank" rel="noopener noreferrer">
                   <img src="{{ url_for('static', filename='pictures/github.png') }}" alt="GitHub" />
               </a>
               <a href="https://www.instagram.com/markmaglaway4?igsh=cWw3ejdkb2ZvMmUz" target="_blank" rel="noopener noreferrer">
                   <img src="{{ url_for('static', filename='pictures/ig.jpg') }}" alt="Instagram" />
               </a>
           </div>
       </div>
   </section>


   <section class="team-member">
       <img src="{{ url_for('static', filename='pictures/shenna.png') }}" alt="Shenna Mae Bellen" class="member-photo" />
       <div class="member-info">
           <h3 class="member-name">Shenna Mae Bellen</h3>
           <p class="member-role">Front-end Developer</p>
           <hr />
           <blockquote class="member-quote">“Mind over Matter”</blockquote>
           <div class="social-icons">
               <a href="https://www.facebook.com/firyshn" target="_blank" rel="noopener noreferrer">
                   <img src="{{ url_for('static', filename='pictures/facebook.png') }}" alt="Facebook" />
               </a>
               <a href="https://github.com/firyshn" target="_blank" rel="noopener noreferrer">
                   <img src="{{ url_for('static', filename='pictures/github.png') }}" alt="GitHub" />
               </a>
               <a href="https://www.instagram.com/firyshn?igsh=MXB6dW42c216M2tpbw==" target="_blank" rel="noopener noreferrer">
                   <img src="{{ url_for('static', filename='pictures/ig.jpg') }}" alt="Instagram" />
               </a>
           </div>
       </div>
   </section>


   <section class="team-member">
       <img src="{{ url_for('static', filename='pictures/gee-anne.png') }}" alt="Gee-Anne Francine Lescano" class="member-photo" />
       <div class="member-info">
           <h3 class="member-name">Gee-Anne Francine Lescano</h3>
           <p class="member-role">Front-end Developer</p>
           <hr />
           <blockquote class="member-quote">“Winners never quit and quitters never win”</blockquote>
           <div class="social-icons">
               <a href="https://www.facebook.com/share/19tm7CKGWb/" target="_blank" rel="noopener noreferrer">
                   <img src="{{ url_for('static', filename='pictures/facebook.png') }}" alt="Facebook" />
               </a>
               <a href="https://github.com/geeannelescano" target="_blank" rel="noopener noreferrer">
                   <img src="{{ url_for('static', filename='pictures/github.png') }}" alt="GitHub" />
               </a>
               <a href="https://www.instagram.com/gnn_lscn?igsh=enRwNmt3dGxjYjJ0
" target="_blank" rel="noopener noreferrer">
                   <img src="{{ url_for('static', filename='pictures/ig.jpg') }}" alt="Instagram" />
               </a>
           </div>
       </div>
   </section>


   <section class="team-member">
       <img src="{{ url_for('static', filename='pictures/rona.png') }}" alt="Ronalyn Silva" class="member-photo" />
       <div class="member-info">
           <h3 class="member-name">Ronalyn Silva</h3>
           <p class="member-role">Front-end Developer</p>
           <hr />
           <blockquote class="member-quote">“Vivamus, Moriendum est.”</blockquote>
           <div class="social-icons">
               <a href="https://www.facebook.com/useron.923" target="_blank" rel="noopener noreferrer">
                   <img src="{{ url_for('static', filename='pictures/facebook.png') }}" alt="Facebook" />
               </a>
               <a href="https://github.com/ronaprofile" target="_blank" rel="noopener noreferrer">
                   <img src="{{ url_for('static', filename='pictures/github.png') }}" alt="GitHub" />
               </a>
               <a href="https://www.instagram.com/r.useron?igsh=OWpmb3ltem9ob3F4" target="_blank" rel="noopener noreferrer">
                   <img src="{{ url_for('static', filename='pictures/ig.jpg') }}" alt="Instagram" />
               </a>
           </div>
       </div>
   </section>
</section>
{% endblock %}

