{% extends "educator_base.html" %}

{% block content %}
<div class="educator-home-container">
    <h2>
        It’s Good to have you back, <span class="highlight-name">{{ current_user.first_name }}!</span>
    </h2>
    <p>“Let’s make teaching easier today.”</p>

    <div class="educator-home-button-group">
        <a href="{{ url_for('educator_courses') }}" class="button-record-attendance">
            Manage Lesson Plan and Atttendance
        </a>
    </div>

    <hr class="divider">

    <div class="quick-stats">
        <div class="stat-item">
            <div class="stat-title">My Courses</div>
            <div class="stat-number">{{ current_user.courses|length }}</div>
        </div>
        <div class="stat-item">
            <div class="stat-title">Lesson Plans</div>
            <div class="stat-number">{{ current_user.lesson_plans|length }}</div>
        </div>
    </div>
</div>
{% endblock %}